.bloodTypeFilter fieldset {
  background-color: var(--color-entry-background);
}
.bloodTypeFilter legend {
  text-align: center;
}
.bloodTypeFilter-checkBox {
  display: flex;
  flex-direction: row;
}
