.bloodTypeFilter fieldset {
  background-color: var(--color-felds);
  border: var(--border-color);
  margin-top: 5px;
}
.bloodTypeFilter legend {
  text-align: center;
  background-color: var(--background-color-title-legend);
  border: var(--border-color) ;
  padding: 5px 10px;
  border-radius: 2px;
}

.bloodTypeFilter-checkBox {
  display: flex;
  flex-direction: row;
}

.bloodTypeFilter-checkAll,
.bloodTypeFilter-member {
  height: 15px;
  width: 15px;
  outline: 1px solid blacks;
  outline-offset: -2px;

  cursor: pointer;
}
