.aditEntryBar-container {
  padding-left: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color:var(--color-edit-bar);

  margin-top: 20px;
  box-shadow: 0px 0px 2px 0px #314e71;

}

.aditEntryBar-btns {
  height: 100%;
  border: none;

  min-width: fit-content;
}
.aditEntryBar-addBtn{
  background-color:var(--color-button-edit);
  width: 70px;
  height: 100%;
  color: aliceblue;

}

.aditEntryBar-cancelBtn {
  background-color:var(--color-button-cancel);
  width: 70px;
  height: 100%;
  color: aliceblue;
}


.aditEntryBar-saveBtn {
  background-color: var(--color-button-save);
  width: 70px;
  height: 100%;
  color: aliceblue;
}
.aditEntryBar-deleteBtn {
  background-color: var(--color-button-delete);
  width: 70px;
  height: 100%;
  color: aliceblue;
}

.aditEntryBar-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
