.aditEntryBar-container {
  padding-left: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

  margin-top: 20px;
  box-shadow: 0px 0px 5px black;
  border-radius: 8px;
}
.aditEntryBar-addBtn {
  background-color: var(--color-blue);
  width: 70px;
  height: 100%;
  color: aliceblue;
  border-radius: 8px;
}
.aditEntryBar-btns {
  height: 100%;
  border: none;

  min-width: fit-content;
}
.aditEntryBar-cancelBtn,
.aditEntryBar-saveBtn {
  background-color: var(--color-grey);
  width: 70px;
  height: 100%;
  color: aliceblue;
  border-radius: 8px;
}
.aditEntryBar-deleteBtn {
  background-color: var(--color-red);
  width: 70px;
  height: 100%;
  color: aliceblue;
  border-radius: 8px;
}

.aditEntryBar-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
