.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.barStyle {
  width: 40%;
  margin: auto;
  margin-top: 30px;
  min-width: 400px;
}
.App-content {
  overflow-y: scroll;
}

.content-container {
  background-color: #e8e8e8;
}
