.App {
  display: flex;
  flex-direction: column;
  font-family: "Abhaya Libre", serif;
  font-family: "Petit Formal Script", cursive;
  font-family: "Piazzolla", serif;
  overflow: hidden;
}

.barStyle {
  width: 50%;
  height: 100vh;
  height: 100vh;
  margin: auto;
  margin-top: 30px;
}
.App-content {
  overflow-y: scroll;
}
