.addEntryBar-container {
  background-color: var(--color-add-bar);
  padding-left: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;

  border-radius: 2px;
}
.addEntryBar-addBtn {
  background-color: var( --color-button-add);
  width: 70px;
  height: 100%;
  color: aliceblue;
}
.addEntryBar-btns {
  height: 100%;
  border: none;
}

.addEntryBar-saveBtn {
  background-color: var(--color-button-save);
  width: 70px;
  height: 100%;
  color: aliceblue;
}
.addEntryBar-cancelBtn {
  background-color: var(--color-button-cancel);
  width: 70px;
  height: 100%;
  color: aliceblue;
}
