.addEntryBar-container {
  background-color: #384373;
  padding-left: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;

  border-radius: 8px;
}
.addEntryBar-addBtn {
  background-color: var(--color-blue);
  width: 70px;
  height: 100%;
  color: aliceblue;
  border-radius: 8px;
}
.addEntryBar-btns {
  height: 100%;
  border: none;
}

.addEntryBar-saveBtn {
  background-color: var(--color-grey);
  width: 70px;
  height: 100%;
  color: aliceblue;
  border-radius: 8px;
}
.addEntryBar-cancelBtn {
  background-color: var(--color-red);
  width: 70px;
  height: 100%;
  color: aliceblue;
  border-radius: 8px;
}
