.addEntryBar-container {
  background-color: #384373;
  padding-left: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}
.addEntryBar-addBtn,
.addEntryBar-saveBtn {
  background-color: #048a81;
  width: 70px;
  height: 100%;
  color: aliceblue;
}
.addEntryBar-btns {
  height: 100%;
  border: none;
}
.addEntryBar-cancelBtn {
  background-color: #c9b747;
  width: 70px;
  height: 100%;
  color: aliceblue;
}
