.fileContextType {
  margin: 20px;
}
.fileContextType-input {
  display: none;
}
.fileContextType-hidden {
  max-width: 0;
  max-height: 0;
  opacity: 0;
}
/* .fileContextType-input::-webkit-file-upload-button {
  border: 2px solid #048a81;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #048a81;
  transition: 1s;
}
.fileContextType-input::file-selector-button {
  border: 2px solid #048a81;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #048a81;
  transition: 1s;
}

.fileContextType-input::-webkit-file-upload-button:hover {
  background-color: #cdaa53;
  border: 2px solid #cdaa53;
}

.fileContextType-input::file-selector-button:hover {
  background-color: #cdaa53;
  border: 2px solid #cdaa53;
} */
