.fileContextType {
  margin: 20px;
}
.fileContextType-input {
  display: none;
}
.fileContextType-hidden {
  max-width: 0;
  max-height: 0;
  opacity: 0;
}
.fileContextType-downloadFile,
.fileContextType-uploadFile {
  margin: 2px;
  border: none;
  background-color: var(--color-download-button);
  color: var(--color-white);
  height: 40px;
  width: 70px;
  -webkit-user-select: none;
  user-select: none;
  margin-right: -2px;
  float: right;
  margin-top: -12px;
}
.fileContextType-uploadFile {
  background-color: var(--color-upload-button) !important;
}
